
/* LAYOUT */

/*
1. Sticky header

The real scrollable element is `html`.
It preserves browsers' scroll position on page reload.
It scrolls on `window.scrollTo(0, 0)`.

So no any `overflow` on `body` and its' `document.body.scrollTo(0, 0)`.

Two things needed:
*/

/*
a)
Despite `body` has no `overflow`, sticky-element still sticks to it, not `html`.
Probably the only solution is to stretch `body` to `html`.
*/
/*body {min-width:fit-content;} !* no differences observed with `min-content` and `max-content` *!*/

/*
b)
Page should not jump between pages with scrollbar and without.
Here why `overflow-y:scroll` comes.
But, more important, is that to stick `header`, it has to have `width:100dvw`,
which is not perfect, since it doesn't get into account scrollbar.
At least in Chrome (but not in FF 04.2026) it helps `header` take scrollbar into account.
*/
html {overflow-y:scroll;} /* `scrollbar-gutter:stable;` just creates empty space */

/*
2. Stretch content blocks in height via `height:100%`;
That's the only reason.
And the only way to do this is:

```
html {height:100%;}
body {height:100%;}
```

But that will break sticky top.
*/

/*
3. Background
It better be html since that's the color be shown on some block overflow body.
*/
html {background:var(--body-bg);}

/*
4. Disabling scroll is also on body
html._SCROLL_DISABLED {overflow:hidden;padding-right:var(--scrollbar-width);}
*/

html._SCROLL_DISABLED {overflow:hidden;padding-right:var(--scrollbar-width);}

/*
5. Sticky header itself could be:

header {position:sticky;top:0;left:0;width:100dvw;}
*/
