/* HEADER */

.HEADER {
    box-shadow:var(--box-shadow);
    display:flex;
    height:var(--header-height);
    align-items:stretch;
    background:#fff;
    position:sticky;
    top:0;
    left:0;
    z-index:10;
    min-width:calc(100dvw - var(--scrollbar-width));
}
    .HEADER_LINK {text-decoration:none;display:flex;align-items:center;padding:0 24px;font-weight:var(--semibold);}
    .HEADER_LINK:hover {background:var(--hover);     box-shadow:0 1px 0 hsla(0, 0%, 0%, 0.02);}
    .HEADER_LINK._CURRENT {background:var(--current);box-shadow:0 1px 0 hsla(0, 0%, 0%, 0.04);}
    .HEADER_LINK._OPENED {background:var(--opened);  box-shadow:0 1px 0 hsla(0, 0%, 0%, 0.06);}
    .HEADER_LINK:active {background:var(--active);   box-shadow:0 1px 0 hsla(0, 0%, 0%, 0.08);}
    .HEADER_LINK._SQUARE {padding:0;width:var(--header-height);display:flex;justify-content:center;flex-shrink:0;}

    .HEADER_MENU {display:flex;overflow-x:auto;}
    .LOGO {font-size:20px;line-height:24px;font-weight:600;white-space:nowrap;}
    .HEADER_USER_MENU {margin-left:auto;display:flex;}

/* BARS */

.BARS {position:relative;display:flex;align-items:stretch;}

.BARS {position:relative;}
    .BARS_WINDOW {min-width:360px;position:absolute;top:calc(var(--header-height) + 1px);height:calc(100vh - var(--header-height));left:0;background:#fff;box-shadow:var(--box-shadow);justify-content:stretch;display:flex;flex-direction:column;z-index:9;}
    body._HAS_X_SCROLL .BARS_WINDOW {height:calc(100vh - var(--header-height) - var(--scrollbar-width));}
        .BARS_MENU {flex:1;padding:24px;overflow:auto;}

            .BARS_ITEM {display:flex;padding:0 24px;min-height:60px;line-height:24px;white-space:nowrap;text-decoration:none;align-items:center;border-radius:var(--border-radius);}
            .BARS_ITEM:not(._DISABLED):hover {background-color:var(--hover)}
            .BARS_ITEM:not(._DISABLED):active {background-color:var(--active)}
            .BARS_ITEM._CURRENT {background-color:var(--current) !important;}
            .BARS_ITEM._DISABLED {cursor:default;opacity:0.5;}
            .BARS_ITEM:first-child {border-top-left-radius:var(--border-radius);border-top-right-radius:var(--border-radius);}
            .BARS_ITEM:last-child {border-bottom-left-radius:var(--border-radius);border-bottom-right-radius:var(--border-radius);}
                .BARS_ICON {margin-left:-12px;margin-right:12px;color:var(--tip);}
                .BARS_TEXT {}
                    .BARS_NAME {font-weight:var(--bold);}
                    .BARS_INFO {color:var(--tip);}

        .BARS_DOCS {padding:24px;}
            .BARS_LINK {text-decoration:none;padding:0 12px;height:36px;display:flex;align-items:center;}
            .BARS_LINK:hover {background-color:var(--hover)}
            .BARS_LINK:active {background-color:var(--active)}

/* HEADING */

.HEADING {display:flex;align-items:center;padding-top:var(--heading-indent-top);padding-bottom:var(--heading-indent-bottom);}
    .BACK {margin-right:12px;margin-left:calc((36px + 12px) * -1);}
    .TITLE {font-size:var(--title-font-size);line-height:var(--title-line-height);padding-right:12px;}
    .CONTROLS {margin-left:auto;position:relative;min-width:54px;}

                                                  .WRAPPER._WIDE    .HEADING {padding-left:12px;} .WRAPPER._WIDE    .CONTROLS {padding-right:12px;} .WRAPPER._WIDE    .BACK {margin-left:0;}
    @media (max-width:calc(1280px + (48px * 2))) {.WRAPPER._DEFAULT .HEADING {padding-left:12px;} .WRAPPER._DEFAULT .CONTROLS {padding-right:12px;} .WRAPPER._DEFAULT .BACK {margin-left:0;}}
    @media (max-width:calc(1280px + (48px * 2))) {.WRAPPER._FORM    .HEADING {padding-left:12px;} .WRAPPER._FORM    .CONTROLS {padding-right:12px;} .WRAPPER._FORM    .BACK {margin-left:0;}}
    @media (max-width:calc( 980px + (48px * 2))) {.WRAPPER._NARROW  .HEADING {padding-left:12px;} .WRAPPER._NARROW  .CONTROLS {padding-right:12px;} .WRAPPER._NARROW  .BACK {margin-left:0;}}

/* WRAPPER */

.WRAPPER {margin:0 auto;}

.WRAPPER._WIDE {}
.WRAPPER._DEFAULT {max-width:calc(1280px - 24px);}
.WRAPPER._FORM    {max-width:calc(1280px - 24px);margin-bottom:0;display:flex;flex-direction:column;min-height:calc(100dvh - var(--header-height));}
.WRAPPER._NARROW  {max-width:calc(980px - 24px);}
.WRAPPER._ARTICLE {max-width:calc(768px);}
