.PASSWORD {position:relative;}
    .PASSWORD_EYE {
        position:absolute;right:10px;top:10px;cursor:pointer;
        user-select:none;
        -webkit-user-select:none; /* Safari fallback only */
        -moz-user-select:none;    /* Firefox */
        -ms-user-select:none;     /* IE10+ */
    }
    .PASSWORD_EYE:hover {
        color:var(--blue);
    }