.SELECT {
    height:var(--control-height);
    font-size:var(--control-font-size);
    border:var(--control-border-width) solid var(--control-border-color);
    border-radius:var(--border-radius);
    max-height:var(--control-height);
    line-height:calc(var(--control-height) - var(--control-border-width));
    padding-left:calc(var(--control-height) / 4);
    padding-right:36px;

    appearance: none;
    -webkit-appearance: none;

    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' stroke='%23000000' stroke-width='1' d='M6 9l6 6l6 -6'/%3e%3c/svg%3e");
    background-color:#fff; /* Для FF */
    background-repeat:no-repeat;
    background-position-x:calc(100% - 6px);
    background-position-y:calc(50%);
    background-size:24px 24px;

    --option-height:var(--control-height);
}
.SELECT._INLINE {min-width:auto;}
.SELECT._ROUNDED {border-radius:50vh;}
.SELECT._SHORT_OPTIONS {
    --option-height:calc(var(--control-height) / 4 * 3);
}

/* Если выбрано дефолтное значение без value — делаем текст сереньким */
.SELECT:has(option[value=""]:checked) {color:var(--select-placeholder);}

.SELECTS {display:inline-flex;}
    .SELECTS .SELECT {margin-right:-1px;min-width:auto;}
    .SELECTS .SELECT:is(:hover, :active) {z-index:1;}
    .SELECTS .SELECT:first-child:not(:last-child) {border-top-right-radius:0;border-bottom-right-radius:0;}
    .SELECTS .SELECT:last-child:not(:first-child) {border-top-left-radius:0;border-bottom-left-radius:0;}
    .SELECTS .SELECT:not(:first-child, :last-child) {border-radius:0;}

/* Пусть на мобильных девайсах выпадающий список останется нативным */
@supports(appearance:base-select) {@media (hover:hover) {

.SELECT._STYLED {
    appearance:base-select;
    background-image:none;
    overflow:hidden;
    padding-right:0;
    position:relative;
}

    .SELECT._STYLED::picker-icon {
        content:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' stroke='%23000000' stroke-width='1' d='M6 9l6 6l6 -6'/%3e%3c/svg%3e");
        width:24px;
        height:24px;
        padding-left:6px;
        padding-right:6px;
        position:relative;
        top:calc(50% - 12px);
        box-sizing: content-box;
        flex-shrink:0;
        line-height:0;
        transition:0.4s rotate;
    }
    .SELECT._STYLED:open::picker-icon {rotate:180deg;}

/* Контейнер с options */
.SELECT._STYLED::picker(select) {
    appearance:base-select;
    border:0;
    border-left:var(--control-border-width) solid var(--control-border-color);
    border-right:var(--control-border-width) solid var(--control-border-color);
    box-shadow:0 var(--control-border-width) 0 var(--control-border-color), 0 calc(var(--control-border-width) * -1) 0 var(--control-border-color);
    border-radius:var(--border-radius);
    scrollbar-width:none;
    -ms-overflow-style:none;
    line-height:var(--option-height);
}

.SELECT._ROUNDED._STYLED::picker(select) {border-radius:calc(var(--option-height) / 2);}

/* option */
.SELECT._STYLED option {padding:0 12px 0 4px;min-height:var(--option-height);line-height:var(--option-height);white-space:normal;}

/* Единые для селекта и option */
:is(.SELECT._STYLED, .SELECT._STYLED option) {display:flex;gap:0;font-size:var(--control-font-size);}
:is(                 .SELECT._STYLED option):hover {background:var(--hover-alpha);}
:is(.SELECT._STYLED, .SELECT._STYLED option):active {background:var(--active-alpha);}

    .SELECT._STYLED option::checkmark {
        content:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='none' stroke='%23000000' stroke-width='1' d='M5 12l5 5l10 -10'/%3e%3c/svg%3e");
        width:18px;
        height:18px;
        padding-right:4px;
        box-sizing: content-box;
        flex-shrink:0;
        line-height:0;
    }
}}

/* Select с иконкой */

.SELECT_WITH_ICON {display:flex;align-items:center;}
.SELECT_WITH_ICON._INLINE {display:inline-flex;}
    .SELECT_ICON {width:36px;height:36px;display:flex;justify-content:center;align-items:center;}
    .SELECT_WITH_ICON .SELECT {}

.SELECT_WITH_ICON._ICON_INSIDE {position:relative;}
    .SELECT_WITH_ICON._ICON_INSIDE .SELECT_ICON {position:absolute;z-index:1;}
    .SELECT_WITH_ICON._ICON_INSIDE .SELECT {padding-left:calc(36px);}

.SELECT_WITH_ICON._ICON_AS_LABEL {}
    .SELECT_WITH_ICON._ICON_AS_LABEL .SELECT_ICON {position:absolute;z-index:1;background:var(--highlight-bleak);border:1px solid var(--control-border-color);border-radius:var(--border-radius) 0 0 var(--border-radius);}
    .SELECT_WITH_ICON._ICON_AS_LABEL:hover .SELECT_ICON:not(:hover) {border-color:var(--control-border-color-hover);}
    .SELECT_WITH_ICON._ICON_AS_LABEL:active .SELECT_ICON:not(:active) {border-color:var(--control-border-color-active);}
    .SELECT_WITH_ICON._ICON_AS_LABEL .SELECT {padding-left:calc(36px + 12px);}

/* Examples */

/*

<select class="SELECT" use:Select>
    <option>Выберите</option>
</select>

<div class="SELECT_WITH_ICON">
    <span class="SELECT_ICON">
        {@html Icons.timezone({size: 24})}
    </span>
    <select class="SELECT _INLINE" use:Select>
        <option>Выберите</option>
    </select>
</div>

<div class="SELECT_WITH_ICON _ICON_INSIDE">
    <span class="SELECT_ICON">
        {@html Icons.timezone({size: 24})}
    </span>
    <select class="SELECT _INLINE" use:Select>
        <option>Выберите</option>
    </select>
</div>

<div class="SELECT_WITH_ICON _ICON_AS_LABEL">
    <span class="SELECT_ICON">
        {@html Icons.timezone({size: 24})}
    </span>
    <select class="SELECT _INLINE" use:Select>
        <option>Выберите</option>
    </select>
</div>

*/
