.TABLE {
    box-shadow:0 0 0 1px var(--table-border-color);
    line-height:20px;
    --table-padding-x:10px;
    --table-padding-y:6px;
    --table-th-height:44px;
    --table-thead-th-padding-y:12px;
}
.TABLE._STRETCH {width:100%}

    /* Шапка */

    .TABLE > thead {border-bottom:1px solid var(--table-border-color);background:var(--table-thead-bg);}
    .TABLE > :is(tbody, tfoot) {background:#fff;}

    /* Строки */
    .TABLE > :is(thead, tbody, tfoot) > tr {}
    .TABLE > :is(thead, tbody, tfoot) > tr:not(:first-child) {border-top:1px solid var(--table-border-color)}

        /* Ячейки */
        .TABLE > * > tr > :is(th, td) {padding:var(--table-padding-y) var(--table-padding-x) var(--table-padding-y) var(--table-padding-x);vertical-align:middle;}

    /* Строки в шапке */
    .TABLE > thead > tr {}
        /* Ячейки в шапке */
        .TABLE > thead > tr > th {font-size:var(--font-size-small);font-weight:var(--bold);text-align:center;padding-top:var(--table-thead-th-padding-y);padding-bottom:var(--table-thead-th-padding-y)}

    /* Sticky */
    .TABLE._STICKY > thead {position:sticky;top:var(--header-height);border-bottom:0 !important;box-shadow: 0 0 0 1px var(--table-border-color);z-index:2;}

    /* _BORDERLESS */
    .TABLE._BORDERLESS {box-shadow:none;}
        .TABLE._BORDERLESS._STICKY > thead {box-shadow:none;}
            .TABLE._BORDERLESS > :is(thead) > tr {background:var(--table-borderless-thead-bg);}
            .TABLE._BORDERLESS > :is(thead, tbody, tfoot) > tr {border-top:0;border-bottom:0}
                .TABLE._BORDERLESS._ZEBRA > tbody > tr:nth-child(even) {background:var(--table-borderless-even-bg);}

    /* Строки в боди + Зебра */
    .TABLE > tbody > tr {background:#fff;}
    .TABLE._ZEBRA > tbody > tr:nth-child(even) {background:var(--table-even-bg);}
    .TABLE._BORDERLESS._ZEBRA > tbody > tr:nth-child(even) {background:var(--table-borderless-even-bg);}

        /* Ячейки в боди */
        .TABLE > tbody > tr > :is(th, td) {}
        .TABLE > tbody > tr > :is(th) {text-align:left;}
        .TABLE > tbody > tr > :is(td) {}

    /* Cell: Numeric & Nowrap */
    .TC._NUMERIC {text-align:right;}
    .TC._FIT {white-space:nowrap;width:1px;}
    .TC._CENTER {text-align:center;}
    .TC._LEFT   {text-align:center;}
    .TC._RIGHT  {text-align:center;}
    .TC._PADDINGLESS {padding:0;}
