.WRAPPER {margin:0 auto;}

.WRAPPER._WIDE {}
.WRAPPER._DEFAULT {max-width:calc(1280px - 24px);}
.WRAPPER._FORM    {max-width:calc(1280px - 24px);margin-bottom:0;display:flex;flex-direction:column;min-height:calc(100dvh - var(--header-height));}
.WRAPPER._NARROW  {max-width:calc(980px - 24px);}
.WRAPPER._ARTICLE {max-width:calc(768px);}