.BARS {position:relative;display:flex;align-items:stretch;}

.BARS {position:relative;}
    .BARS_WINDOW {min-width:360px;position:absolute;top:calc(var(--header-height) + 1px);height:calc(100vh - var(--header-height));left:0;background:#fff;box-shadow:var(--box-shadow);justify-content:stretch;display:flex;flex-direction:column;z-index:9;}
    body._HAS_X_SCROLL .BARS_WINDOW {height:calc(100vh - var(--header-height) - var(--scrollbar-width));}
        .BARS_MENU {flex:1;padding:24px;overflow:auto;}

            .BARS_ITEM {display:flex;padding:0 24px;min-height:60px;line-height:24px;white-space:nowrap;text-decoration:none;align-items:center;border-radius:var(--border-radius);}
            .BARS_ITEM:not(:first-child) {margin-top:6px;}
            .BARS_ITEM:not(._DISABLED):hover {background-color:var(--hover)}
            .BARS_ITEM:not(._DISABLED):active {background-color:var(--active)}
            .BARS_ITEM._CURRENT {background-color:var(--current)}
            .BARS_ITEM._DISABLED {cursor:default;opacity:0.5;}
            .BARS_ITEM:first-child {border-top-left-radius:var(--border-radius);border-top-right-radius:var(--border-radius);}
            .BARS_ITEM:last-child {border-bottom-left-radius:var(--border-radius);border-bottom-right-radius:var(--border-radius);}
                .BARS_ICON {margin-left:-12px;margin-right:12px;color:var(--tip);}
                .BARS_TEXT {}
                    .BARS_NAME {font-weight:var(--bold);}
                    .BARS_INFO {color:var(--tip);}

        .BARS_DOCS {padding:24px;}
            .BARS_LINK {text-decoration:none;padding:0 12px;height:36px;display:flex;align-items:center;}
            .BARS_LINK:hover {background-color:var(--hover)}
            .BARS_LINK:active {background-color:var(--active)}
